<html>

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap-theme.min.css" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="css/reset.css"> -->
    <link rel="stylesheet" href="css/style.css">
    <title>Collective</title>


</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Collective</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-brand">{{{marathon_url}}}</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div id="page_container">
            <div class="main">
                <div class="row" style="margin-top:50px;">
                    <div id="wrapper">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Application Name</th>
                                        <th>Instance ID</th>
                                        <th>Last Response</th>
                                        <th>Last Check</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  {{#each timers}}
                                  <tr class="alert-success">
                                    <td>{{{this.target.appId}}}</td>
                                      <td>{{{this.target.id}}}</td>
                                      <td>{{{this.lastResult.resultCode}}}</td>
                                      <td>{{{this.lastCollectedHuman}}}</td>
                                  </tr>
                                  {{/each}}

                                    <!-- <tr>
                                      <td>/payments-storage/payment-storage</td>
                                        <td>payments-storage_payment-storage.103ce419-9ed4-11e6-9a96-429bbc5cf783</td>
                                        <td>200 (Everything OK)</td>
                                        <td>09:11am - 01 January 2017</td>
                                    </tr>
                                    <tr class="alert-danger">
                                      <td>/payments-storage/payment-storage</td>
                                        <td>payments-storage_payment-storage.103ce419-9ed4-11e6-9a96-429bbc5cf783</td>
                                        <td>500 (Internal Server Error)</td>
                                        <td>09:11am - 01 January 2017</td>
                                    </tr>
                                    <tr>
                                      <td>/payments-storage/payment-storage</td>
                                        <td>payments-storage_payment-storage.103ce419-9ed4-11e6-9a96-429bbc5cf783</td>
                                        <td>200 (Everything OK)</td>
                                        <td>09:11am - 01 January 2017</td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </center>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <script>
        window.jQuery || document.write('<script src="vendor/jquery/jquery.min.js"><\/script>')
    </script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!-- <script src="../../assets/js/vendor/holder.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>

</html>
